Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str = 'Hello World'
list_01 = ['a', 'b', 'c', 2, 3, 4, True]
num_01 = 10.764
tuple_01 = ("New Delhi", "Mumbai", "Kolkata", "Chennai")

Q2. Given are some following variables containing data:
(i) varl = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]'
(iii) var3 = [ ‘DS' , ‘ML’ , ‘Python’ ]
(iv) var4 =1.
What will be the data type of the above given variable.

(i) string
(ii) string
(iii) list
(iv) float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / is the Division operator 
Example:

In [3]:
a = 5
b = 2
c = (a/b)
print(c)

2.5

(ii) % is the Modulus operator which returns the remainder number by dividing the first number from the second.
Example:

In [5]:
a = 7
b = 3
c = (a%b)
print(c)

1

(iii) // is the Floor division operator. This operator will divide the first argument by the second and round the result down to the nearest whole number. Example:

In [6]:
a = 7
b = 3
c = (a // b)
print(c)

2

(iv) ** is the Exponentiation operator. Example:

In [8]:
a = 3
b = 4
c = a**b
print(c)

81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
list_01 = [1, 3, 5, 7, 'a', 'b', 'c', True, False, ('Delhi', 'Mumbai')]
for item in list_01:
    print(f"{item} - {type(item)}")

1 - <class 'int'>
3 - <class 'int'>
5 - <class 'int'>
7 - <class 'int'>
a - <class 'str'>
b - <class 'str'>
c - <class 'str'>
True - <class 'bool'>
False - <class 'bool'>
('Delhi', 'Mumbai') - <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = int(input("Enter an integer value for A: "))
B = int(input("Enter an integer value for B: "))

count = 0
r = A%B

while A >= B:
    times = A // B
    r = A%B
    if r == 0:
        print(f"A is purely divisible by B {times} times.")
        break
    else:
        A = A/B

if r != 0:
    print("A is not purely divisible by B")

Enter an integer value for A:  16
Enter an integer value for B:  4

A is purely divisible by B 4 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
a = []
for i in range(0,25):
    a.append(i)

#print(a)
for item in a:
    #print(i)
    if item%3 == 0 and (item/3) != 0:
        print(f"{item} is divisible by 3")
    else:
        print(f"{item} is not divisible by 3")

0 is not divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

An object / data type whose internal state can be changed is called a mutable object, while an object whose internal state cannot be changed is called an immutable object. The following are examples of immutable data types:
Numbers, strings, tuples.

The following are examples of mutable data types:
Lists, Sets, Dictionaries.